body {
    font: normal normal 300 14px/20px Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}


/*Header CSS*/
header {
    margin: 30px 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    justify-content: space-between;

}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}

.header-left>h1 {
    font-size: 18px;
    width: 125px;
    color: #354463;
    opacity: 1;
}

.header-left>ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    list-style: none;
    text-decoration: none;
    color: #354463;
    font-size: 14px;
    letter-spacing: -0.14px;
}

ul li {
    list-style: none;
}

header>button {

    width: 312px;
    height: 40px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
}










/*Main Body css*/
/*Container 1 css*/
.container-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    top: 200px;
    left: 0px;
    width: 376px;
    height: 600px;
    background: transparent url('../images/annie-spratt-427339-unsplash/annie-spratt-427339-unsplash.png') 0% 0% no-repeat padding-box;
}

.container-1-right>h2 {
    margin: 45px 32px;

    top: 232px;
    left: 32px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.container-1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 32px 32px 32px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container-1-left>h3 {
    align-self: center;
    text-align: center;
    width: 248px;
    height: 200px;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.container-1-left>p {
    transform: translateY(-20px);
    align-self: center;
    text-align: center;
    color: white;
    width: 160px;
    height: 40px;
    font: normal normal normal 14px/17px Helvetica;
    /* UI Properties */
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
}


/* container-2 css*/
.container-2 {
    background: #354463 0% 0% no-repeat padding-box;

}

.container-2-left {
    margin-left: 32px;
    margin-right: 32px;
}

.container-2-left>h3 {
    margin-top: 20px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.container-2-left>p {
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    background-color: #ffffff;
    width: 160px;
    height: 30px;
    padding-top: 10px;
    margin-top: 20px;
    margin: auto;

}

/* Container 2-ight*/
.container-2-right {
    margin: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.element {
    margin: 10px 0 10px 0;
    padding: 0;
    width: 45%;
    height: 149px;
}

.element>p {
    height: 69px;
    text-align: left;
    font: normal normal 300 12px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
}

.element>h3 {

    height: 27px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}



/* container-3 css*/

.container-3-left {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-3-left>p {
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
    background-color: #354463;
    width: 160px;
    height: 30px;
    padding-top: 10px;
    margin: auto;

}

.container-3-left>h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.container-3-left>span {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14.5px;
    text-align: center;
    letter-spacing: 0px;
    color: #354463;
}

/* container-3right*/
.container-3-right {
    margin: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.item {
    width: 45%;
    background: #354463 0% 0% no-repeat padding-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item>img {
    width: 100%;
}

.item>span {
    width: 100%;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    opacity: 1;
}






/*container -4*/
.container-4 {
    background-color: #354463;
    background-image: url('../images/background/ian-macharia-509884-unsplash.png');

}


.container-4-left {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-4-left>p {
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    background-color: #ffffff;
    width: 160px;
    height: 30px;
    padding-top: 10px;
    margin: auto;
    margin-top: 20px;

}

.container-4-left>h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
}

.container-4-left>span {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14.5px;
    text-align: center;
    letter-spacing: 0px;
    color: #354463;
}


/*container-4-right*/

.container-4-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;
}

.container-4-right-item {
    width: 50%;
    align-self: center;
}

.container-4-right-item>h1 {
    margin-top: 25px;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.container-4-right-item>p {
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
    margin-bottom: 10px;
}



/*container -5 */

.container-5{
    background: #354463 0% 0% no-repeat padding-box;
}
