@import url("https://use.typekit.net/kew8abx.css");


:root{
    --back-color:#354463;
}

body {
    padding: 0;
    font-family: Helvetica;
    overflow-x: hidden;
}

span {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 1%;
    color: var(--back-color);
}

h2 {
    font-family: flood-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h3{
    color: var(--back-color);
}
h1,
h3,
ul {
    margin: 0;
    padding: 0;
}
h3{

}

a,
li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--back-color);
}

.button {
    text-align: center;
    margin: auto;
    height: 20px;
    background-color: #C1F7D5;
    border: none;
    width: auto;
    color: var(--back-color);
    border-radius: 50px;
    padding: 12px 30px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #77f6a6;
}



.container-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-heading p {
    align-self: center;
    text-align: center;
}

.container-heading h3 {
    padding: 18px;
    margin: 18px;
    text-align: center;
}



/*Mobile style*/

.header {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 10px 0;
}

/* header a {
    margin-top: 10px;
} */

.logo {
    margin: 10px;
    width: 50%;
    align-self: center;
    color:var(--back-color);
    font-size: 18px;
}

.navigation {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation a {
    width: 50%;
    align-self: center;
    line-height: 1.6;
}

.button {
    font-weight: bold;
}



/* Section 1*/
#issues-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../images/annie-spratt-427339-unsplash/annie-spratt-427339-unsplash@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--back-color);

    background-size: cover;
}

#issues-container>h2 {
    color: white;
    font-size: 44px;
    margin: 32px;
}

.issues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px;
    text-align: center;
    background-color: white;
}

.issues>p {
    background-color: #354463;
    color: white;
    transform: translatey(-20px);
    align-self: center;
}

.issues>h3 {
    font-size: 22px;
    margin: 0 32px 32px 32px;
}



/*container-two*/

#values-container {
    background-color:var(--back-color);
    display: flex;
    flex-direction: column;
}

.values {
    margin: 32px;
}

.values p {
    background-color: white;
}

.values h3 {
    padding: 18px;
    margin: 18px;
    font-size: 22px;
    color: white;
}

.values-container-data {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    width: 150px;
    margin: 5%;
}

.element img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.element h3 {
    color: white;
    padding: 5px;
    font-size: 15px;

}

.element p {
    text-align: left;
    padding: 5px;
    font-size: 13px;
    letter-spacing: -0.14px;
    color: white;
}


/*container-three*/

#team-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.teams {
    margin: 32px;
}

.sub-container-teams {
    display: flex;
    flex-direction: column;
}


.teams span {
    color:var(--back-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.teams p {
    padding: 11px;
    background-color:var(--back-color);
    color:white;
}

.teams h3 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 22px;
}



.team-data{
    margin-left: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    margin-bottom: 16px;

}

.item {
    margin: 18px;
}

.item img {
    width: 160px;

}

.img-title {
    width: 144px;
    padding: 8px;
    background-color: var(--back-color);
}

.item span {
    color: #ffffff;
    line-height: 1.6;
}


/*container-fout*/
#impact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../images/background/ian-macharia-509884-unsplash.png');
    background-repeat: no-repeat;
    background-color: var(--back-color);

    background-size: cover;
    padding: 32px;
}

.impact p {
    background-color: white;
    text-align: center;
}

.impact h3 {
    color: white;
}


.impact-data {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.list {
    margin: 10px;
}

.list p {
    text-align: center;
    font-size: 16px;
    color: white;
    width: 60%;
    margin: auto;
    font-weight: bold;
}

.list h2 {
    padding: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
}


/*container-five*/

#save-future-container {
    display: flex;
    flex-direction: column;
    background-color: var(--back-color);
    background-size: cover;
}

.container-heading h2 {
    margin: 32px;
    font-size: 44px;
    color: white;
    text-align: center;
}

#arrow {
    width: 64px;
    height: 64px;
    transform: translate(280px, 180px);
}

#scrl {
    width: 76px;
    align-self: center;
    margin-top: 32px;
}

#year {
    width: 50%;
    margin: auto;
    padding: 11px;
    background-color: #ffffff;
    color: var(--back-color);
    text-align: center;
    transform: translateY(20px);
}


.poverty-stories {
    margin: 0 18px 18px 18px;
    padding: 0 18px 18px 18px;
    display: flex;
    flex-direction: row;
    overflow: auto;

}

.poverty {
    width: 312px;
    margin-right: 64px;
}

.poverty-data {
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poverty-data h3 {
    padding: 16px;
    font-size: 22px;
    text-align: left;
}

.poverty a {
    padding: 16px;
    height: 18px;
    width: 30%;
    background-color: #C1F7D5;
    text-align: center;
    align-self: center;
    border-radius: 100px;
    padding: 8px;
}

.poverty-data p {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}


/*container -six*/
#subscribe-container {
    background-color: #C1F7D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;

}

#subscribe-container h3 {
    margin: 16px;
    text-align: center;
    font-size: 20px;
}

.subscribe-container-input {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px;

}

#field {
    width: 50%;
    height: 15px;
    padding: 15px;
    font-size: 14px;
    border-radius: 100px;
    background: #ffffff;
    color: var(--back-color);
    border: none;
    text-align: center;

}

.subscribe-container-input a {

    width: 40%;
    height: 18px;
    background-color: var(--back-color);
    color: white;
    text-align: center;
    border-radius: 100px;
    padding: 12px;

}



/*footer*/



footer {
    margin: 32px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;

}

.footer-bold {
    grid-column-start: 1;
    grid-column-end: 3;
}


.contact {
    padding: 10px;
    /* width: 140px; */
}

.contact a {
    text-align: start;
}

.contact p {
    padding: 5px 5px 5px 0;
    text-align: left;
    font-size: 14px;
}

.footer-heading h3 {
    font-size: 18px;
}


.footer-bold {
    font-size: 22px;
    text-align: right;
    padding: 0;
    color: var(--back-color);
}


@media screen and (min-width:640px) {

    /*header*/
    .header {
        margin: 32px 64px 32px 64px;
        flex-direction: row;
        justify-content: space-around;
    }

    .sub-container {
        width: 70%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .navigation a {
        font-size: 16px;
        width: auto;
        padding: 10px;
    }

    .button {
        font-weight: bold;
        font-size: 16px;
        padding: 10px 20px 10px 20px;
    }

    .logo {
        align-self: flex-start;
        font-size: 22px;
    }


    /*container one*/
    #issues-container {
        background: url('../images/annie-spratt-427339-unsplash/annie-spratt-427339-unsplash@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--back-color);
    }

    #issues-container>h2 {
        font-size: 72px;
    }

    .issues {
        margin: 64px;
        justify-content: flex-start;
    }

    .issues>p {

        margin-left: 64px;
        align-self: flex-start;
    }

    .issues>h3 {
        padding: 0 32px 32px 32px;
        font-size: 30px;
        text-align: start;

    }



    /*container two*/


    /*container two elements*/
    .values {
        margin: 64px 32px 32px 32px;

    }

    .values p {
        align-self: flex-start;
        background-color: white;
        margin-left: 36px;
    }

    .values h3 {
        font-size: 28px;
        color: white;
        text-align: left;
    }


    .element h3 {
        font-size: 22px;
    }

    .element p {
        font-size: 16px;
    }



    /*Continer three*/

    .teams {
        margin: 64px 16px 16px 16px;
        flex-direction: row;
    }

    .teams span {
        width: 50%;
        font-size: 16px;
        align-self: center;
    }

    .teams p {
        align-self: flex-start;
        color: white;
        margin-left: 38px;
        background-color: var(--back-color);
    }

    .item {
        margin: 32px;
    }

    .item img {
        width: 272px;
    }

    .img-title {
        width: 256px;
        transform: translate(calc(15%), calc(50% * -1));
    }

    .teams h3 {
        text-align: left;
        padding: 18px;
        margin: 18px;
        font-size: 36px;
    }

    /*container-four*/
    .impact {
        margin: 64px 16px 16px 16px;
    }

    .impact>p {
        margin-top: 32px;
        font-size: 18px;
        background-color: white;
    }

    .impact-data {
        grid-template-columns: auto auto;
    }

    .impact h3 {
        font-size: 32px;
        color: white;
    }

    .list {

        align-self: center;

    }

    .list h2 {
        margin: auto;
        font-size: 72px;
    }

    .list p {
        /* margin: auto; */
        font-size: 22px;
        font-weight: bold;
    }

    #scrl {
        margin-bottom: 32px;
    }

    /*container-five*/


    .container-heading h2 {
        font-size: 72px;
    }

    #year {
        margin-left: 32px;
    }


    /*container-six*/
    #subscribe-container {
        flex-direction: row;
        justify-content: center;
    }

    #subscribe-container h3 {
        margin: 32px;
        font-size: 28px;
        text-align: left;
        width: 40%;
    }

    .subscribe-container-input {
        width: 50%;

        justify-content: space-around;
    }

    .subscribe-container-input input {
        margin: 18px;
        align-self: center;
    }



    /*footer*/

    footer {
        grid-template-columns: auto auto auto;

    }

    .footer-bold {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: 4;
        grid-column-end: 4;
    }


    .contact {
        padding: 10px;
        width: 140px;
        margin-left: 32px;
    }

    .contact a {
        text-align: start;
    }

    .contact p {
        padding: 5px 5px 5px 0;
        text-align: left;
        font-size: 14px;
    }

    .footer-heading {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .footer-heading h3 {
        font-size: 22px;
    }


    .footer-bold {
        font-size: 26px;
        text-align: left;
        margin-left: 32px;
    }

}




@media screen and (min-width:1200px) {

    /*header*/
    .sub-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation {
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        font-size: 28px;
    }




    /*container-one*/

    #issues-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: url('../images/annie-spratt-427339-unsplash/annie-spratt-427339-unsplash/annie-spratt-427339-unsplash.png');
        background-color: var(--back-color);
        height: 400px;
    }

    #issues-container>h2 {
        margin: 64px 128px 64px 128px;
        font-size: 72px;
    }

    .issues {
        margin: auto;
        margin-right: 64px;
        width: 50%;
        transform: translatey(128px);
    }

    .issues>p {
        margin-left: 64px;
        align-self: flex-start;
    }

    .issues>h3 {
        padding: 0 32px 32px 32px;
        font-size: 28px;
        text-align: center;
    }




    /*container two*/
    .values {
        margin: 128px 64px 0px 64px;
    }

    .values h3 {
        font-size: 44px;
        color: white;
        text-align: left;
    }

    .element h3 {
        font-size: 32px;
    }

    .element {
        width: 200px;
    }

    .element img {
        width: 60px;
        height: 60px;
    }

    .element p {
        font-size: 20px;
    }


    /*container three*/
    .teams {
        margin: 64px 64px 0px 64px;
        flex-direction: row;
    }

    .team-data {
        margin-left: 32px;
        margin-right: 32px;
        grid-template-columns: auto auto auto;


    }
    #img-1{
        
    }
    .item {
        margin: 32px;
    }

    .item img {
        width: 320px;
    }

    .img-title {
        width: 314px;
        font-size: 18px;
    }



    /*container-four*/
    #impact-container{
        background: url('../images/annie-spratt-427339-unsplash/price-background/Impact\ Background@2x.png');
        background-color: var(--back-color);
        height: 100%;
    }
    .impact {
        margin: 0 64px 0px 64px;
    }

    .impact>p {
        margin-top: 32px;
        font-size: 18px;
    }

    .impact-data {
        grid-template-columns: auto auto auto auto;
    }



    /*container six*/

    /*footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}